
h1 {
  font-size: 35px;
}

.btn {
  font-size: 25px;
  background-color:rgb(19, 154, 159);
  color: white;
  max-height:50%;
  max-width:50%;
  border-color:lightgrey;
}

.navbar-brand {
  font-size: 25px;
  background-color:blue;
}

/* #navbarNavDropdown {
  font-size: 25px;
  padding-left: 10px;
} */

.col-sm-8 {
  position: relative;
  width:540px;
  height:360px;
  padding-left: 120px;
  padding-right: 20px;
}

.col-sm-4 {
  width:240px;
  height:160px;
}

#fig1 {
  width:150px;
  height:200px;
  padding: 150px;
}